*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container {
    /* position: relative; */
    display:flex ;
    flex-direction: row;
    margin: 3vh 3vw;
    padding: 2vh;
    border-radius: 5px;
    box-shadow: 2px 5px 20px #000000;
}

/* Nav styling, the left side of the page */
.container-1 {
    width: 10vw ;
    height:auto;
    font-family:  "Nunito", sans-serif;
}

.me {
    text-align: center;
    padding: 5vh 1vw;
    text-transform: uppercase;
    font-size: larger;
    font-weight: bold;
    color: #1b6c72c1;
}

.ul-1 {
    display: flex;
    flex-direction: column;
    padding: 2vw;
    padding: 2vh;
    
}

.links-1 {
    padding: 3vh 1vw;
    background-color: #1b6c7237 ;
    text-align: center;
    margin: 2vh 0vw;
    border-radius: 5px;
    box-shadow: 0px 0px 13px 1px rgba(0, 0, 0, 0.648);
    color: #114649;
    text-decoration: none;
}

.links-2 {
    padding: 3vh 0vw;
    margin-top: 10vh;
    background-color: #1b6c7237 ;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 0px 13px 1px rgba(0, 0, 0, 0.648);
    color: #114649;
    text-decoration: none;
}

.links-1:hover {
    background-color: #1146495b;
}

.links-2:hover {
    background-color: #1146495b;
}

/* Main style, the center of the page including image */

.container-2 {
    width: 50vw ;
    height: auto ;
    padding: 5vh 5vw;
    font-family:  "Nunito", sans-serif;
}

img {
    border-radius: 100%;
    width: 20vw;
    height: 40vh;
    box-shadow: 0px 0px 13px 1px rgba(0, 0, 0, 0.648);
}

h1 {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 5vh 5vh 0vh 5vh;
    color: #114649;
}

h3 {
    padding: 0vh 6vh 0 6vh;
    text-align: center;
}

p {
    padding: 2vh 6vh 2vh 6vh;
    text-align: center;
}

/*  This is the aside bar where all the projects are */
.container-3 {
    width: 50vw ;
    height: 90vh ;
    padding: 5vh 5vw;
    background-color: #1b6c7237;
    border-radius: 5px;
    font-family:  "Nunito", sans-serif;
}

.p2 {
    padding: 0vh;
    text-transform: uppercase;
    font-weight: bold;
    color: #114649;
}
.ul-2 {
    height: 80vh;
    text-align: center;
    text-decoration: none;
    list-style-type: none;
    padding: 5vh 1vw;
    box-shadow: 0px 0px 13px 1px rgba(0, 0, 0, 0.648);
    background-color: #1b6c7200;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0);
}

li {
    padding: 5vh 10vw;
    background-color: #1b6c720a;
    border-radius: 5px;
    margin-top: 2vh;
    color: #114649;

}

a{
    color: #114649;
    text-decoration: none;
    font-size: larger;
    padding: 5vh vw;
}

li:hover {
    background-color: #1146495b;
}

/* This is the layout for the smaller screens */
@media only screen and (min-width:320px ) and (max-width:450px) {
    .flex-container {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;

    }
    /* Layout design for the nav */
    /* The nav container layout */
    .container-1 {
        display: flex;
        flex-direction: row;
        width: 100% ;
        height: 60px;
        padding: 0;
        margin: 0;
        font-family:  "Nunito", sans-serif;
    }

    /* The navbar logo This is me */
    .me {
        display: flex;
        flex-direction: row;
        width: 25%;
        height: 60px;
        margin: 0;
        padding: 0;
        padding: 0;
        font-size: 13px;
        padding: 4%;
        text-align: center;
        color: #000000;
        background-color: #1146497d;
        
    }
    /* The nav bar layout */
    .ul-1 {
        display: flex;
        flex-direction: row;
        padding: 0;
        height: 60px;
        
    }

    /* links inside the nav */
    .links-1{
        font-size: smaller;
        width: 25%;
        height: 60px;
        margin: 0;
        padding: 0;
        box-shadow: none;
        border-radius: 0;
        font-size: 13px;
        padding-top: 4%;
        text-align: center;
        color: #000000;
        background-color: #1146497d;
    }
    
    .about-me {
        padding-top: 6%;
    }

    /* mail contact link */
    .links-2 {
        font-size: smaller;
        width: 25%;
        height: 60px;
        margin: 0;
        padding: 0;
        box-shadow: none;
        border-radius: 0;
        font-size: 13px;
        padding-top: 4%;
        padding-right: 2%;
        text-align: center;
        color: #000000;
        background-color: #1146497d;
    }
    /* The main content */
    .container-2 {
        display: flex;
        flex-direction: column;
        width: 100% ;
        height:300px ;
        padding: 0;
        margin: 0;
    }

    img {
        padding: 0;
        margin-bottom: 0;
        margin: 15px 2px 25px 10px;
        width: 40%;
        height: auto;
    }

    h1 {
        margin-top: -40%;
        margin-left: 43%;
        padding: 0;
        width: 50%;
        height: 50px;
        text-align: center;
    }

    h3 {
        padding: 0;
        margin-left: 47%;
        margin-top: -3%;
        width: 40%;
        height: 50px;
        font-size: small;

    }

    .paragraf {
        margin: 0;
        padding: 0;
        margin-left:42%;
        margin-top:2%;
        width: 55%;
        overflow: auto;
        font-size: smaller;
        text-align: center;
    }
/*The scroll list of link*/
    .container-3 {
        display: flex;
        flex-direction: row;
        width: 100% ;
        height:auto ;
        padding: 0;
        margin: 0;
    }

    .ul-2 {
         width: 100%;
         padding: 2%;

        
    }

    li {
        width: 90%;
        padding: 4% 2% 4% 4%;
        margin:2% 3% 0% 5%;
        font-size: small;
    }
} 
