/* style sheet for train web 2*/

* {
    margin: 0;
    padding: 0;
}

body {  /*The whole websides style*/
    height: 100vh;
    width: 100vw;
    background-color: white;
}

header { 
    background-color: rgba(219, 217, 217, 0.864);
}

h1 {
    text-align: center;
    margin: 2px, 0;
}